<div *ngIf = "identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>
  <span>
    {{identity.name}} {{identity.surname}}
  </span>
  <br>
    <span class="btn btn-secondary" (click)="logout()">
      Cerrar Sesión
    </span>
</div>

<div class="clearfix"></div>

<div *ngIf = "identity" class="central col-lg-11">
  <p>Estas logueado en la apliación</p>
</div>

<div class="row col-lg-12" *ngIf = "!identity">
  <div class = "col-lg-6">
    <h1>Identificate</h1>

    <div *ngIf="errorMessage">
      <div class="alert alert-success" role="alert">
        <strong>{{errorMessage}}</strong>
      </div>
    </div>

    <form #loginForm = "ngForm"  (ngSubmit) = "onSubmit()" class="col-md-7"> <!-- #loginForm="ngForm"   Indico que es un formulario de Angular    (ngSubmit) = "onSubmit()" dispara un evento que ejecuta el metodo onSubmit() en el componente-->
      <p>
        <label>Correo Electrónico</label>
        <input type="email" #email="ngModel" [(ngModel)] = "user.email" name="email" class= "form-control" required/> <!-- #email="ngModel" [(ngModel)] = "user.email" accede a la propiedad de la entidad user que definimos en el app.component-->
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio.
        </span>
      </p>
      <p>
        <label>Contraseña</label>
        <input type="password" #password="ngModel" [(ngModel)] = "user.password" name="password" class= "form-control" required>
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary">
      <span *ngIf="!password.valid && password.touched">
        La constraseña es obligatoria.
      </span>
    </form>
  </div>


  <div class = "col-lg-6">
    <h1>Registrate</h1>

    <div *ngIf="alertRegister">
      <div class="alert alert-success" role="alert">
        <strong>{{alertRegister}}</strong>
      </div>
    </div>

    <form #registerForm="ngForm" (submit)="onSubmitRegister()" class="col-md-7">
      <p>
        <label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class= "form-control" required/>
        <span *ngIf="!name.valid && name.touched">
          El nombre es obligatorio.
        </span>
      </p>
      <p>
        <label>Apellidos</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class= "form-control" required/>
        <span *ngIf="!surname.valid && surname.touched">
          El apellido es obligatorio.
        </span>
      </p>
      <p>
        <label>Correo Electrónico</label>
        <input type="email" #email="ngModel" [(ngModel)] = "user_register.email" name="email" class= "form-control" required/> <!-- #email="ngModel" [(ngModel)] = "user.email" accede a la propiedad de la entidad user que definimos en el app.component-->
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio.
        </span>
      </p>
      <p>
        <label>Contraseña</label>
        <input type="password" #password="ngModel" [(ngModel)] = "user_register.password" name="password" class= "form-control" required>      </p>
      <input type="submit" value="Registrarse" class="btn btn-primary">
      <span *ngIf="!password.valid && password.touched">
        La constraseña es obligatoria.
      </span>
    </form>
  </div>
</div>